
:root {
  font-family:roboto;
  background-color:rgb(40, 39, 39);
}

body {
  margin:0px;
}

p {
  margin:0px;
}

a {
  color:white;
  text-decoration:none;
}

h1 {
  margin:0px;
}

h2 {
  margin:0px;
}

a.active hr {
  display:block;
  opacity:1;
  width:100%;
  border-width:1px;
  border:none;
}